{% extends "html.twig" %}

{% block title %}HackMyDeck{% endblock %}

{% block content %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nesciunt, quisquam odio necessitatibus doloremque deleniti repellat eos, animi in minima quas aspernatur ipsa iste voluptatum rem sint quaerat tenetur modi.
    </p>
{% endblock %}