<!DOCTYPE html> 
<html>
    <head>
        <title>{% block title '' %} - HackMyDeck</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, maximum-scale=1.0">

    </head>
    <body>
       
        <div class="container">
            <div class="row">
                {% block content %} {% endblock %}
            </div>
        </div>

    </body>
</html>
